@model Buyee.Rakuten.Website.Models.ProductInfo

<div><h3><i class="glyphicon glyphicon-th-large"></i> @Model.name</h3></div>
<hr />
<div class="row" style="height:500px;max-height:500px;">
    <div class="col-md-7">
        <div class="col-md-3">
            @foreach (var item in Model.images)
            {
                <img src="@item" class="col-md-12 img-responsive img-rounded thumbnail sub-image" style="margin:4px;" />
            }

        </div>
        <div class="col-md-9">
            <img src="@Model.image" class="col-md-12 img-responsive img-rounded thumbnail" id="main-image" />
        </div>
    </div>
    <div class="col-md-5" style="line-height:25px;">
        <div class="row">@Model.cateName</div>
        <div class="row price-yen col-md-12">@Model.price.ToString("#,##0 Y")</div>
        <div class="row price-vnd col-md-12">@Model.priceVN.ToString("#,##0 VND")</div>
        <div class="row col-md-12">
            @Html.Raw(Model.attribute)
        </div>
        <div class="row">
            <a href="javascript:;" class="btn btn-lg btn-success col-md-12 CheckAvailable">Check Available</a>
        </div>
        <p></p>
        <div class="row">
            <a href="#" class="btn btn-lg btn-warning col-md-12"><span class="glyphicon glyphicon-shopping-cart"></span> Add to cart</a>
        </div>
    </div>
</div>
<p></p>
<div><h3><i class="glyphicon glyphicon-th-large"></i>製品の詳細</h3></div>
<div class="row">
    @Html.Raw(Model.description)
</div>

<div class="modal" id="MyCheckAvailable">
    <div class="modal-content">
        <span class="close">×</span>
        @Html.Raw(Model.checkAvailable)
    </div>
</div>
