@model Tuple<Invoice, CustomsClearance>
@{
    var FlightBooking = ViewBag.FlightBooking as FlightBooking;
}
<link href="~/Content/_booking.css" rel="stylesheet" />
<link href="~/Content/css/select2.css" rel="stylesheet" />
<link href="~/Content/select2-bootstrap.css" rel="stylesheet" />
<script src="~/Scripts/moment.min.js"></script>
<script src="~/Scripts/select2.js"></script>
<script src="~/Scripts/bootstrap-datetimepicker.min.js"></script>
<link href="~/Content/bootstrap-datetimepicker.min.css" rel="stylesheet" />
<script src="~/Scripts/booking/Clearance.js"></script>
<div id="export-invoice">
    @using (Html.BeginForm("_Booking", "Clearance", FormMethod.Post, new { enctype = "multipart/form-data", id = "btnBookingInvoice" }))
    {
        <fieldset>
            <legend>Xuất invoice</legend>
            <div>
                <table class="table_insert col-md-12" align="center" style="width:100%;">
                    <tr>
                        <td class="tt-title-form"><b>Mã invoice <span class="error">(*)</span></b></td>
                        <td>
                            @if (Model.Item1.InvoiceCode != null)
                            {
                                @Html.EditorFor(model => model.Item1.InvoiceCode, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", @data_val = "false" } })
                            }
                            else
                            {
                                @Html.EditorFor(model => model.Item1.InvoiceCode, new { htmlAttributes = new { @class = "form-control", @data_val = "false" } })
                            }
                            @Html.ValidationMessageFor(model => model.Item1.InvoiceCode, "", new { @class = "text-danger" })
                        </td>
                        <td class="tt-title-form"><b>Trạng thái <span class="error">(*)</span></b></td>
                        <td>
                            @Html.DropDownList("StatusId", null, htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Item1.StatusId, "", new { @class = "text-danger" })
                        </td>
                    </tr>
                    <tr>
                        <td class="tt-title-form"><b>Ngày xuất <span class="error">(*)</span></b></td>
                        <td>
                            <div class='input-group date' id='datetimepicker3'>
                                @Html.EditorFor(model => model.Item1.InvoiceDate, new { htmlAttributes = new { @class = "form-control datepicker" } })
                                @Html.ValidationMessageFor(model => model.Item1.InvoiceDate, "", new { @class = "text-danger" })
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </td>
                        <td class="tt-title-form"><b>Giờ xuất <span class="error">(*)</span></b></td>
                        <td>
                            <div class='input-group date' id='dt_InvoiceHour'>
                                @Html.EditorFor(model => model.Item1.InvoiceHour, new { htmlAttributes = new { @class = "form-control hour" } })
                                @Html.ValidationMessageFor(model => model.Item1.InvoiceHour, "", new { @class = "text-danger" })
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="tt-title-form"><b>Ghi chú</b></td>
                        <td colspan="3">
                            <textarea rows="6" name="Notes" id="Notes" class="form-control">@Model.Item1.Notes</textarea>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="4" style="text-align:center;">
                            <input type="hidden" name="FlightBookingId" value="@FlightBooking.Id" />
                            <input type="hidden" name="Id" value="@Model.Item1.Id" />
                            <input type="hidden" name="AgencyId" value="@Model.Item1.AgencyId" />
                            <input type="hidden" name="CreatedAt" value="@Model.Item1.CreatedAt" />
                            <input type="hidden" name="CreatedBy" value="@Model.Item1.CreatedBy" />
                            <input type="hidden" name="UpdatedAt" value="@Model.Item1.UpdatedAt" />
                            <input type="hidden" name="UpdatedBy" value="@Model.Item1.UpdatedBy" />
                            <input type="hidden" name="ClearanceId" value="@Model.Item1.ClearanceId" />
                            <button type="submit" class="btnBookingInvoice btn btn-xs btn-success tt-margin-right tt-width-button"><i class="glyphicon glyphicon-floppy-disk"></i> Lưu</button>
                        </td>
                    </tr>

                </table>
            </div>
        </fieldset>
    }
</div>

<div id="result-clearance">
    @if (Model.Item1.InvoiceCode != null)
    {
        using (Html.BeginForm("SaveClearnace", "Clearance", FormMethod.Post, new { enctype = "multipart/form-data", id = "btnSaveClearnace" }))
        {
            <fieldset>
                <legend>Kết quả thông quan</legend>
                <table class="table_insert col-md-12" align="center" style="width:100%;">
                    <tr>
                        <td class="tt-title-form"><b>Nhập file pre-ad</b></td>
                        <td colspan="3">
                            <label class="ace-file-input">
                                <input type="file" name="upPreAd" id="id-input-file-3">
                                <span class="ace-file-container" data-title="Chọn file">
                                    <span id="id-input-file-name" class="ace-file-name" data-title="@Model.Item2.Image">
                                        <i class="ace-icon fa fa-upload"></i>
                                    </span>
                                </span>
                                <a class="remove" href="#" id="remove-input-file-3"><i class="ace-icon fa fa-times"></i></a>
                            </label>
                        </td>
                    </tr>
                    <tr>
                        <td class="tt-title-form"><b>Mã thông quan <span class="error">(*)</span></b></td>
                        <td>
                            @if (Model.Item2.ClearanceCode != null)
                            {
                            @Html.EditorFor(model => model.Item2.ClearanceCode, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", @data_val = "false" } })
                            }
                            else
                            {
                            @Html.EditorFor(model => model.Item2.ClearanceCode, new { htmlAttributes = new { @class = "form-control", @data_val = "false" } })
                            }
                        </td>
                        <td class="tt-title-form"><b>Trạng thái <span class="error">(*)</span></b></td>
                        <td>
                            @Html.DropDownList("StatusId", null, htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Item2.StatusId, "", new { @class = "text-danger" })
                        </td>
                    </tr>
                    <tr>
                        <td class="tt-title-form"><b>Ngày thông quan <span class="error">(*)</span></b></td>
                        <td>
                            <div class='input-group date' id='dt_ClearanceDate'>
                                @Html.EditorFor(model => model.Item2.ClearanceDate, new { htmlAttributes = new { @class = "form-control datepicker" } })
                                @Html.ValidationMessageFor(model => model.Item2.ClearanceDate, "", new { @class = "text-danger" })
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </td>
                        <td class="tt-title-form"><b>Giờ thông quan <span class="error">(*)</span></b></td>
                        <td>
                            <div class='input-group date' id='dt_ClearanceHour'>
                                @Html.EditorFor(model => model.Item2.ClearanceHour, new { htmlAttributes = new { @class = "form-control hour" } })
                                @Html.ValidationMessageFor(model => model.Item2.ClearanceHour, "", new { @class = "text-danger" })
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="tt-title-form"><b>Kích thước <span class="error">(*)</span></b></td>
                        <td>
                            @Html.DropDownList("Size", null, htmlAttributes: new { @class = "form-control" })
                        </td>
                        <td class="tt-title-form"><b>Số kg <span class="error">(*)</span></b></td>
                        <td>
                            @Html.EditorFor(model => model.Item2.Weigh, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Item2.Weigh, "", new { @class = "text-danger" })
                        </td>
                    </tr>
                    <tr>
                        <td class="tt-title-form"><b>Ghi chú <span class="error">(*)</span></b></td>
                        <td colspan="3">
                            <textarea rows="6" name="Notes" class="form-control">@Model.Item2.Notes</textarea>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="4" style="text-align:center;">
                            <input name="Id" type="hidden" value="@Model.Item2.Id" />
                            <input name="CreatedAt" type="hidden" value="@Model.Item2.CreatedAt" />
                            <input name="FlightBookingId" type="hidden" value="@FlightBooking.Id" />
                            <input name="CreatedBy" type="hidden" value="@Model.Item2.CreatedBy" />
                            <input name="StaffId" type="hidden" value="@Model.Item2.StaffId" />
                            <input type="hidden" value="@Model.Item2.PreAd" name="PreAd" />
                            <button type="button" class="btnSaveClearnace btn btn-xs btn-success tt-margin-right tt-width-button"><i class="glyphicon glyphicon-floppy-disk"></i> Lưu</button>
                        </td>
                    </tr>
                </table>
            </fieldset>
        }
    }
    @if (Model.Item2.ClearanceCode != null)
    {
        using (Html.BeginForm("SaveClearnaceAir", "Clearance", FormMethod.Post, new { enctype = "multipart/form-data", id = "btnSaveClearnaceAir" }))
        {
            <fieldset>
                <legend>Thông tin chuyến bay & giao nhận</legend>
                <table class="table_insert col-md-12" align="center" style="width:100%;">
                    <tr>
                        <td class="tt-title-form"><b>Mã chuyến bay <span class="error">(*)</span></b></td>
                        <td>
                            @if (Model.Item2.ClearanceAirs.First().Code != null)
                        {
                        @Html.EditorFor(model => model.Item2.ClearanceAirs.First().Code, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", @data_val = "false" } })
                        }
                        else
                        {
                        @Html.EditorFor(model => model.Item2.ClearanceAirs.First().Code, new { htmlAttributes = new { @class = "form-control", @data_val = "false" } })
                        }
                            @Html.ValidationMessageFor(model => model.Item2.ClearanceAirs.First().Code, "", new { @class = "text-danger" })
                        </td>
                        <td class="tt-title-form"><b>Tên chuyến bay <span class="error">(*)</span></b></td>
                        <td>
                            @Html.EditorFor(model => model.Item2.ClearanceAirs.First().Name, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Item2.ClearanceAirs.First().Name, "", new { @class = "text-danger" })
                        </td>
                    </tr>
                    <tr>
                        <td class="tt-title-form"><b>Nơi đi <span class="error">(*)</span></b></td>
                        <td>
                            @Html.EditorFor(model => model.Item2.ClearanceAirs.First().AirFrom, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Item2.ClearanceAirs.First().AirFrom, "", new { @class = "text-danger" })
                        </td>
                        <td class="tt-title-form"><b>Nơi đến <span class="error">(*)</span></b></td>
                        <td>
                            @Html.EditorFor(model => model.Item2.ClearanceAirs.First().AirTo, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Item2.ClearanceAirs.First().AirTo, "", new { @class = "text-danger" })
                        </td>
                    </tr>
                    <tr>
                        <td class="tt-title-form"><b>Ngày bay <span class="error">(*)</span></b></td>
                        <td>
                            <div class='input-group date' id='clea-FlightDateFrom'>
                                @Html.EditorFor(model => model.Item2.ClearanceAirs.First().FlightDateFrom, new { htmlAttributes = new { @class = "form-control datepicker" } })
                                @Html.ValidationMessageFor(model => model.Item2.ClearanceAirs.First().FlightDateFrom, "", new { @class = "text-danger" })
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </td>
                        <td class="tt-title-form"><b>Giờ bay <span class="error">(*)</span></b></td>
                        <td>
                            <div class='input-group date' id='clea-FlightHourFrom'>
                                @Html.EditorFor(model => model.Item2.ClearanceAirs.First().FlightHourFrom, new { htmlAttributes = new { @class = "form-control hour" } })
                                @Html.ValidationMessageFor(model => model.Item2.ClearanceAirs.First().FlightHourFrom, "", new { @class = "text-danger" })
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="tt-title-form"><b>Ngày đến <span class="error">(*)</span></b></td>
                        <td>
                            <div class='input-group date' id='clea-FlightDateTo'>
                                @Html.EditorFor(model => model.Item2.ClearanceAirs.First().FlightDateTo, new { htmlAttributes = new { @class = "form-control datepicker" } })
                                @Html.ValidationMessageFor(model => model.Item2.ClearanceAirs.First().FlightDateTo, "", new { @class = "text-danger" })
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </td>
                        <td class="tt-title-form"><b>Giờ đến <span class="error">(*)</span></b></td>
                        <td>
                            <div class='input-group date' id='clea-FlightHourTo'>
                                @Html.EditorFor(model => model.Item2.ClearanceAirs.First().FlightHourTo, new { htmlAttributes = new { @class = "form-control hour" } })
                                @Html.ValidationMessageFor(model => model.Item2.ClearanceAirs.First().FlightHourTo, "", new { @class = "text-danger" })
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="tt-title-form"><b>Chọn công ty <span class="error">(*)</span></b></td>
                        <td id="MAWBClearance">
                            @Html.DropDownList("MAWB", null, htmlAttributes: new { @class = "form-control", @multiple = "multiple" })

                            <script>
                        @if (Model.Item2.ClearanceMAWBs != null)
                        {
                            foreach (var item in Model.Item2.ClearanceMAWBs)
                            {
                                <text>$('#MAWBClearance #MAWB option[value=@(item.MAWBId)]').attr('selected', 'selected');</text>
                            }
                        }
                            </script>
                        </td>


                        <td class="tt-title-form"><b>Chọn cá nhân <span class="error">(*)</span></b></td>
                        <td id="HAWBClearance">
                            @Html.DropDownList("HAWB", null, htmlAttributes: new { @class = "form-control", @multiple = "multiple" })
                            <script>
                                @if (Model.Item2.ClearanceHAWBs != null)
                                {
                                    foreach (var item in Model.Item2.ClearanceHAWBs)
                                    {
                                        <text>$('#HAWBClearance #HAWB option[value="@(item.HAWBId)"]').attr('selected', 'selected');</text>
                                    }
                                }
                            </script>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="4" style="text-align:center;">
                            <input name="Id" type="hidden" value="@Model.Item2.ClearanceAirs.First().Id" />
                            <input name="ClearanceId" type="hidden" value="@Model.Item2.Id" />
                            <input name="CreatedAt" type="hidden" value="@Model.Item2.CreatedAt" />
                            <input name="FlightBookingId" type="hidden" value="@FlightBooking.Id" />
                            <input name="CreatedBy" type="hidden" value="@Model.Item2.CreatedBy" />
                            <input name="StaffId" type="hidden" value="@Model.Item2.StaffId" />
                            <button type="button" class="btnSaveClearnaceAir btn btn-xs btn-success tt-margin-right tt-width-button"><i class="glyphicon glyphicon-floppy-disk"></i> Lưu</button>
                        </td>
                    </tr>
                </table>
            </fieldset>
        }
    }
</div>
