@model ExportInvoice

@{
    Layout = "~/Views/Shared/_LayoutCRUD.cshtml";
}
<ol class="breadcrumb editbreadcrum">
    <li><a href="/" target="_parent"><i class="glyphicon glyphicon-home"></i> Trang chủ</a></li>
    <li><a href="/ExportGoods/" target="_parent">Xuất kho</a></li>
    <li class="active">Xuất Invoice</li>
</ol>
<div class="">
    @using (Html.BeginForm("Add", "ExportInvoice", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        <table class="table_insert col-md-12" align="center" style="width:100%;">
            <tr>
                <td class="tt-title-form"><b>Giao nhận</b></td>
                <td>:</td>
                <td>
                    @Html.DropDownList("DeliveryComId", null, htmlAttributes: new { @class = "form-control ddlDelivery" })
                    @Html.ValidationMessageFor(model => model.DeliveryComId, "", new { @class = "text-danger" })
                </td>
            </tr>
            <tr>
                <td class="tt-title-form"><b>Chọn công ty</b></td>
                <td>:</td>
                <td>
                    @Html.DropDownList("MAWB", null, htmlAttributes: new { @class = "form-control", @multiple = "multiple" })

                    <script>
                        @if (Model.MAWBDetails != null)
                        {
                            foreach (var item in Model.MAWBDetails)
                            {
                                <text>$('#MAWB option[value=@(item.MAWBId)]').attr('selected', 'selected');</text>
                            }
                        }
                    </script>
                </td>
            </tr>
            <tr>
                <td class="tt-title-form"><b>Chọn cá nhân</b></td>
                <td>:</td>
                <td>
                    @Html.DropDownList("HAWB", null, htmlAttributes: new { @class = "form-control", @multiple = "multiple" })
                    <script>
                        @if (Model.HAWBDetails != null)
                        {
                            foreach (var item in Model.HAWBDetails)
                            {
                                <text>$('#HAWB option[value=@(item.HAWBId)]').attr('selected', 'selected');</text>
                            }
                        }
                    </script>
                </td>
            </tr>
            <tr>
                <td class="tt-title-form"><b>Invoice No <span class="error">(*)</span></b></td>
                <td>:</td>
                <td>
                    @Html.EditorFor(model => model.InvoiceNo, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.InvoiceNo, "", new { @class = "text-danger" })
                </td>
            </tr>

            <tr>
                <td class="tt-title-form"><b>Ngày xuất <span class="error">(*)</span></b></td>
                <td>:</td>
                <td>
                    <div class='input-group date' id='datetimepicker1'>
                        @Html.EditorFor(model => model.InvoiceDate, new { htmlAttributes = new { @class = "form-control datepicker" } })
                        @Html.ValidationMessageFor(model => model.InvoiceDate, "", new { @class = "text-danger" })
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>

                </td>
            </tr>
            @*<tr>
                    <td class="tt-title-form"><b>Giờ xuất</b></td>
                    <td>:</td>
                    <td>
                        <div class='input-group date' id='datetimepicker_hour_1'>
                            @Html.EditorFor(model => model.InvoiceHour, new { htmlAttributes = new { @class = "form-control hour" } })
                            @Html.ValidationMessageFor(model => model.InvoiceHour, "", new { @class = "text-danger" })
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </td>
                </tr>*@
            <tr>
                <td class="tt-title-form"><b>Ghi chú</b></td>
                <td>:</td>
                <td>
                    @Html.TextAreaFor(model => model.Notes, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Notes, "", new { @class = "text-danger" })
                </td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td>
                    <input type="hidden" name="ExportId" value="@Model.ExportId" />
                    <input type="hidden" name="Id" value="@Model.Id" />
                    <input type="hidden" value="@Model.CreatedAt" name="CreatedAt" />
                    <input type="hidden" value="@Model.CreatedBy" name="CreatedBy" />
                    <input type="hidden" value="@Model.AgencyId" name="AgencyId" />
                    <input type="hidden" value="@Model.ExportId" name="ExportId" />
                    <button type="submit" class="btncreate btn btn-large btn-success tt-margin-right tt-width-button"><i class="glyphicon glyphicon-floppy-disk"></i> Lưu</button>
                    <button type="reset" class="btn btn-large btn-info tt-width-button"><i class="glyphicon glyphicon-refresh"></i> Xóa</button>
                </td>
            </tr>
        </table>

    }
</div>

<script>
    $(function () {

    });
</script>
