@model PagedList.IPagedList<ExportGood>
@using PagedList.Mvc;
@using PagedList;
@foreach (var tracking in Model)
{
    <tr>
        <td class="center">
            <label class="pos-rel">
                <input id="@tracking.Id" data-id="@tracking.Id" data-parent="false" type="checkbox" class="ace" />
                <span class="lbl"></span>
            </label>
        </td>
        <td>@tracking.ShippingMarkVN</td>
        <td>@tracking.Weigh</td>
    </tr>
}
<tr>
    <td colspan="4">
        <div class="pagging storejp-pagging">
            @Html.PagedListPager(Model, page => Url.Action("ShippingExportGoodsVN", "Ajax", new { page = page}), PagedListRenderOptions.ClassicPlusFirstAndLast)
        </div>
    </td>
</tr>
