@model Staff

@{
    Layout = "~/Views/Shared/_LayoutNewCRUD.cshtml";
}
<div class="body">
    <div class="head">
        <div class="head-center title">
            Thông tin tài khoản
            <div class="notify">Điền đầy đủ thông tin các mục (*)</div>
        </div>
        <span class="close-package">x</span>
    </div>
    <div class="content">
        @using (Html.BeginForm("Add", "Staff", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            <table class="table_insert col-md-12" align="center" style="width:100%;">
                <tr>
                    <td class="tt-title-form"><b>Quyền</b></td>
                    <td>:</td>
                    <td>
                        @Html.DropDownList("RoleId", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.RoleId, "", new { @class = "text-danger" })
                    </td>
                </tr>
                <tr>
                    <td class="tt-title-form"><b>Trạng thái <span class="error">(*)</span></b></td>
                    <td>:</td>
                    <td>
                        @Html.DropDownList("IsActive", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.IsActive, "", new { @class = "text-danger" })
                    </td>
                </tr>
                <tr>
                    <td class="tt-title-form"><b>Tên đăng nhập <span class="error">(*)</span></b></td>
                    <td>:</td>
                    <td>
                        @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
                    </td>
                </tr>
                <tr>
                    <td class="tt-title-form"><b>Mật khẩu <span class="error">(*)</span></b></td>
                    <td>:</td>
                    <td>
                        @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                    </td>
                </tr>
                <tr class="tr-hidden">
                    <td class="tt-title-form"><b>Họ & tên</b></td>
                    <td>:</td>
                    <td>
                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                    </td>
                </tr>
                <tr class="tr-hidden">
                    <td class="tt-title-form"><b>Email </b></td>
                    <td>:</td>
                    <td>
                        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                    </td>
                </tr>
                <tr class="tr-hidden">
                    <td class="tt-title-form"><b>Phone</b></td>
                    <td>:</td>
                    <td>
                        @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })
                    </td>
                </tr>
                <tr class="tr-hidden">
                    <td class="tt-title-form"><b>Giới tính</b></td>
                    <td>:</td>
                    <td>
                        @Html.DropDownList("Gender", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Gender, "", new { @class = "text-danger" })
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td style="position:relative;">
                        <input type="hidden" value="false" name="IsDeleted" />
                        <button type="submit" class="btncreate btn btn-sm btn-success tt-margin-right tt-width-button"><i class="glyphicon glyphicon-floppy-disk"></i> Lưu</button>
                        <button type="reset" class="btn btn-sm btn-danger tt-width-button"><i class="glyphicon glyphicon-refresh"></i> Hủy</button>
                        <div class="option-detail-crud">
                            <a href="#" data-index="1">Chi tiết</a>
                        </div>
                    </td>
                </tr>
            </table>

        }
    </div>
</div>

